@import "./Variables.scss";
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.hangulFont {
  font-family: $font-family-kr-serif !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../assets/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #e3e3e3 !important;
  section#content {
    margin: auto;
    margin-top: 85px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 50px;
  }
}

.app-toolbar {
  width: calc(100% - 14px) !important;
  color: var(--black) !important;
  border-radius: 4px;
}
.mui-active {
  .MuiTableSortLabel-icon {
    color: var(--secondary-color);
  }
}

.easteregg {
  margin-right: 8px;
  z-index: 99999;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  transform: translateY(0) scale(1); // Add this line

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &.clicked {
    animation: scrollAndScale 2s forwards;

    @keyframes scrollAndScale {
      0% {
        transform: translateY(0) scale(0);
      }
      50% {
        transform: translateY(-50px) scale(1.5);
        -webkit-transform: translateY(-50px) scale(1.5);
        -moz-transform: translateY(-50px) scale(1.5);
        -ms-transform: translateY(-50px) scale(1.5);
        -o-transform: translateY(-50px) scale(1.5);
      }
      100% {
        transform: translateY(0) scale(1);
      }
    }
  }
}

.text {
  display: inline;
  &.text-primary {
    color: $primary-color !important;
  }
  &.text-secondary {
    color: $secondary-color !important;
  }
  &.text-tertiary {
    color: $tertiary-color !important;
  }
  &.text-quaternary {
    color: $quaternary-color !important;
  }
  &.text-quinary {
    color: $quinary-color !important;
  }
  &.text-error {
    color: $error !important;
  }
  &.text-warning {
    color: $warning !important;
  }
  &.text-info {
    color: $info !important;
  }
  &.text-success {
    color: $success !important;
  }
}

.MuiPaper-root {
  background-color: $white-card-bg !important;
  backdrop-filter: blur(
    10px
  ) !important; // Apply a blur effect to the content behind the element

  &.max-width {
    width: 500px !important;
    max-width: calc(100vw - 14px) !important;
  }

  &.alert {
    margin: 14px 0px;
    p {
      padding: 0px;
      margin: 0px;
    }
    &.alert-error {
      @include alert-style($error);
    }
    &.alert-warning {
      @include alert-style($warning);
    }
    &.alert-info {
      @include alert-style($info);
    }
    &.alert-success {
      @include alert-style($success);
    }
    &.alert-default {
      @include alert-style($black);
    }
  }

  &.table-filter {
    .MuiCardContent-root {
      padding: 16px;
    }
  }
  .MuiBottomNavigation-root {
    background-color: transparent;
  }
  &.MuiCard-root {
    .MuiCardContent-root {
      h4 {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

table {
  thead {
    background-color: var(--yellow);
  }
  &.alphabet-table {
    tr {
      th:nth-child(4) {
        width: 165px;
        white-space: nowrap;
      }
    }
  }
  &.wordlist-table {
    tr {
      th:nth-child(1) {
        width: 40%;
      }
      th:nth-child(3) {
        width: 50%;
      }
    }
  }
  &.number-table {
    th:nth-child(1) {
      width: 10px;
    }
  }
}

.speak-card.MuiCard-root {
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .MuiButtonBase-root {
    width: 100%;
    color: $white !important;
    background-color: $primary-color-card-bg !important;
    font-weight: 700 !important;
  }
}

.MuiCard-root {
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .MuiButtonBase-root {
    &.MuiButton-containedPrimary {
      color: $white !important;
      background-color: $primary-color-card-bg !important;
      font-weight: 700 !important;
    }
  }
}

.flip-card {
  perspective: 1000px;
  width: 500px;
  max-width: calc(100vw - 14px);
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card .card-front,
.flip-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card .card-front {
  transform: rotateY(0deg);
}

.flip-card .card-back {
  transform: rotateY(-180deg);
}

.flip-card.flipped .card-front {
  transform: rotateY(-180deg);
  background: transparent;
}

.flip-card.flipped .card-back {
  transform: rotateY(0deg);
  background: transparent;
}

.card-navigation {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px;
  .MuiCardContent-root {
    padding: 0px !important;
    margin: 0px;
  }
}
