:root {
  --yellow: #f7d619; // yellow
  --black: #000000;
  --white: #ffffff;
  --blue: #0047a0;
  --red: #cd2e3a;
  --grey: rgba(224, 224, 224, 1);
  --primary-color: var(--blue);
  --secondary-color: var(-red);
  --tertiary-color: var(--yellow);
}

:export {
  yellow: var(--yellow);
  black: var(--black);
  white: var(--white);
  blue: var(--blue);
  red: var(--red);
  grey: var(--grey);
  primary-color: var(--primary-color);
  secondary-color: var(--secondary-color);
  tertiary-color: var(--tertiary-color);
}
